{% extends "layout.html" %}
{% block content %}

<h1 class="mb-4">Giới thiệu</h1>

<p>
    Đây là trang web được xây dựng nhằm hỗ trợ các bác sĩ trong việc theo dõi nhịp tim và tình trạng sức khỏe
    của bệnh nhân. Hệ thống được tích hợp mô hình AI dự đoán nguy cơ mắc các bệnh lý tim mạch dựa trên dữ liệu
    thu thập được từ cảm biến như nhịp tim trung bình, nồng độ oxy trong máu (SpO₂), và các thông số sinh học khác.
</p>

<p>
    Mục tiêu của nền tảng là giúp bác sĩ đưa ra quyết định lâm sàng nhanh hơn, chính xác hơn,
    đồng thời giúp việc theo dõi bệnh nhân diễn ra liên tục và hiệu quả. Nhờ vào công nghệ học máy (Machine Learning),
    hệ thống có khả năng phân tích dữ liệu và đưa ra dự đoán nguy cơ bệnh tim với độ tin cậy cao.
</p>

<p>
    Đây là một phần của dự án hỗ trợ chăm sóc sức khỏe thông minh, hướng tới tối ưu hoá quy trình
    theo dõi và điều trị bệnh nhân.
</p>

{% endblock content %}
